body{
    font-family:"Microsoft Yahei","宋体","幼圆","黑体",sans-serif;
	font-size:0.8em;
	line-height:1.25em;	
	background-color:#edf1f2;
}
header{
	position:fixed;
	left:0;
	top:0;
	background-color:#445fa4;
	text-align:center;
	color:white;
	font-weight:bold;
	height:60px;
	width:100%;
}
/*-----------------------nav导航--------------------------*/
nav ul{
	list-style-type:none;
	
}
nav ul li{
	display:inline-block;
	background-color:#2894ff;
}
/*再添加一个效果：鼠标放在导航上，颜色加深，移除恢复原样*/

h1{
	font-size:1.2em;
}
h2 {
	font-size:1.1em;
}
#top-nav{
	font-size:small;
	font-weight:normal;
	list-style-type:none;
	display:inline;
	text-decoration:none;

}
a.nounderline {
	text-decoration:none;
}

table{
	text-align:center;
}
strong{
	color:red;
}
div#container{
	margin-top:70px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:40px;
	width:800px;	
}
/*---------------------------footer---------------------------------*/
footer{
	width:100%;	
	height:30px;
	position:fixed;
	bottom:0px;	
	left:0px;
	background-color:#445fa4;	
	font-size:small;
	text-align:center;
	line-height:8px;
	/* 怎么让文本垂直居中啊？ */	
}
