section {
    width:300px;
    margin:0 auto;
    text-align: center;
}
/* box1 css3 选择器 */
.box1 table tr:first-of-type{
    background: #000;
    color: #fff;
}
tr:nth-of-type(2n+1) {
    background: #333;
}
tr:nth-of-type(2),
tr:nth-of-type(3),
tr:nth-of-type(4) {
    color: red;
}

/* box2 box-shadow练习 */
/* 语法
box-shadow: h-shadow v-shadow blur spread color inset;
注释：box-shadow 向框添加一个或多个阴影。
该属性是由逗号分隔的阴影列表，每个阴影由 2-4 个长度值、可选的颜色值以及可选的 inset 关键词来规定。省略长度的值是 0。
__________________________________________
    值	    |         描述
h-shadow	| 必需。水平阴影的位置。允许负值。
v-shadow	| 必需。垂直阴影的位置。允许负值。
blur	    | 可选。模糊距离。
spread	    | 可选。阴影的尺寸。
color	    | 可选。阴影的颜色。请参阅 CSS 颜色值。
inset	    | 可选。将外部阴影 (outset) 改为内部阴影。

*/
.box2 {
    padding-top: 30px;
}
.div1 {
    width:200px;
    height:30px;
    border: 1px solid #e4e4e4;
    box-shadow: 0 -1px #f7f7f7,      /* 上边框外阴影 */
                1px 0 #f9f9f9,       /* 右边阴影     */
                inset 0 -1px #f1f1f1,/* 下边框内阴影 */
                inset 1px 0 #f3f3f3; /* 左边        */
}
.div2 {
    margin-top: 30px;
    width:250px;
    height: 40px;
    box-shadow: inset 0 0 3px 0 #77adf5, 0 0 4px 1px #76ace8;
}


/* animation   */
/*
语法
animation: name duration timing-function delay iteration-count direction;
________________________________________________________________________
        值	                |          描述
animation-name	            |  规定需要绑定到选择器的 keyframe 名称。。
animation-duration	        |  规定完成动画所花费的时间，以秒或毫秒计。
animation-timing-function	|  规定动画的速度曲线。
animation-delay	            |  规定在动画开始之前的延迟。
animation-iteration-count	|  规定动画应该播放的次数。
animation-direction	        |  规定是否应该轮流反向播放动画。
*/
.box3 {
    padding-top:30px;
    width:200px;
}
.wrap {
    height:80px;
    width:200px;
    position: relative;
}
.content {
    height:80px;
    width: 200px;
    position: relative;
    overflow: hidden;
}
.item {
    height:80px;
    width:200px;
    position: absolute;
    left:0;
    top:0;
}
.item:target {
    animation: show 3s forwards;
}
.item:not(:target) {
    animation: hide 3s forwards;
}

@keyframes show {
    from {
        left: 200px;
        top: 0;
    }
    to {
        left: 0;
        top: 0;
    }
}
@keyframes hide {
    from {
        left: 0;
        top: 0;
    }
    to {
        left: -200px;
        top: 0;
    }
}
.item:nth-of-type(1) {
    background: blue;
}
.item:nth-of-type(2) {
    background: green;
}
.item:nth-of-type(3) {
    background: yellow;
}
ul {
    position: absolute;
    margin: 0;
    padding: 0;
    right:0;
    bottom: 0;
}
ul li {
    height:20px;
    width:20px;
    list-style: none;
    margin-left:2px;
    background: rgba(255,255,255,.6);
    text-align: center;
    float: left;
}
