/*========================START : css reset========================*/
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
/*========================END   : css reset========================*/

/*========================START : 通用========================*/
.fl {
    float: left;
}
.fr {
    float: right;
}
.clear:after {
    content: '';
    display: block;
    clear: both;
}
#wrap {
    max-width: 1280px;
    margin: 0 auto;
}
.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    z-index: 1;
}
/*========================END   : 通用========================*/

/*========================START : header========================*/
.header {
    height: 56px;
    padding: 0 60px;
    background: #fff;
}
.logo {
    padding-left: 42px;
    height: 56px;
    font: 21px/56px '黑体';
    color: #393a3a;
    background: url("images/icons.png") -188px 0 no-repeat;
}
.nav li {
    height: 17px;
    float: left;
    padding: 14px 16px 25px 20px;
    margin-left: 10px;
    font-size: 14px;
    font-family: '微软雅黑';
    color: #787b83;
}
.nav li a:hover,
.nav li.active {
    color: #e74f4d;
}
.nav li.active {
    height: 14px;
    border-bottom: 3px solid #e74f4d;
}
#login {
    display: block;
    height: 40px;
    width: 36px;
    margin-left: 15px;
    padding-left: 20px;
    padding-top: 14px;
    font-size: 14px;
    color: #e74f4d;
    background: url("images/icons.png") -198px -56px no-repeat;
}
/*========================END   : header========================*/

/*========================START : content========================*/

/* 顶部大图  top_bar */
.top_bar {
    position: relative;
    width: 1280px;
    height: 690px;
    border-top: 1px solid #f4f3f3;
    border-bottom: 1px solid #e6e5e7;
}
.top_bar .mask {
    height: 690px;
    background: rgba(4, 0, 0, 0.2);
}
.start {
    position: absolute;
    top: 214px;
    left: 115px;
    z-index: 2;
}
.start h2 {
    font-size: 60px;
    color: #fff;
    font-family: '微软雅黑';
}
.start h5 {
    height: 125px;
    width: 300px;
    padding: 0 10px;
    margin-top: 10px;
    font: 21px/32px '微软雅黑';
    color: #fffdfd;
}
.start p {
    height: 63px;
    width: 329px;
    margin-left: 10px;
    text-align: center;
    font: 30px/63px '微软雅黑';
    color: #fffdfd;
    background: #e74f4d;
    border: 1px solid rgba(231, 79, 77, 0.1);
    border-left: 1px solid #e74f4d;
}
/* 第二栏 service*/
ul.service {
    height: 250px;
}
.service li {
    width: 320px;
    height: 250px;
    float: left;
}
.service li .icon {
    display: block;
    height: 42px;
    width: 42px;
    margin: 45px auto;
}
.icon-circle {
    background: url("images/icons.png") 0 0;
}
.icon-flag {
    background: url("images/icons.png") -42px 0;
}
.icon-flower {
    background: url("images/icons.png") -84px 0;
}
.icon-square {
    background: url("images/icons.png") -126px 0;
}
.service li p {
    width: 320px;
    padding-left: 84px;
    padding-right: 80px;
    box-sizing: border-box;
    height: 52px;
    margin: 0 auto;
    text-align: center;
    font: 14px/18px '黑体';
    color: #767777;
    border-right: 2px solid #767677;
}
.service li p.no-border {
    border: none;
}
/* 第三栏 banner */
.banner {
    height: 272px;
    background: #ededec;
    padding-top: 88px;
    text-align: center;
}
.banner .logo {
    display: block;
    width: 94px;
    height: 94px;
    margin: 0 auto 45px;
    background: url("images/icons.png") 0 -45px;
}
.banner h3 {
    font: 54px/56px '黑体';
    color: rgba(50, 51, 51, 0.5);
}
/* 第四栏 search */
.search {
    position: relative;
    height: 298px;
    padding-top: 42px;
    background: url("images/big-img2.jpg");
}
.search .mask {
    height: 340px;
    background: rgba(170, 52, 51, 0.2);
}
.search-title {
    position: relative;
    text-align: center;
    z-index: 2;
}
.search-title .title {
    font: 21px/42px '微软雅黑';
    color: #fff;
}
.search-title span {
    display: block;
    width: 30px;
    margin: 0 auto 10px;
    height: 3px;
    background: #fff;
}
.search-title .tips {
    font: 12px/32px '微软雅黑';
    color: #fff;
}
.search-box {
    position: absolute;
    padding: 42px 126px 0 126px;
    z-index: 3;
}
.search-box .select-box {
    position: relative;
}
.search-box ul {
    width: 234px;
    display: none;
    position: absolute;
    top: 34px;
    z-index: 3;
    box-sizing: border-box;
    border: 1px solid #be4e48;
}
.select {
    position: relative;
    float: left;
    box-sizing: border-box;
    margin-right: 28px;
    width: 234px;
    height: 34px;
    background: #fff;
}
.province > .select {
    border: 1px solid #be4e48;
    border-bottom: none;
}
.select span {
    position: absolute;
    font: 12px/26px '微软雅黑';
    color: #a8aaaa;
    margin-left: 12px;
    top: 4px;
}
.list-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    display: inline-block;
    height: 18px;
    width: 19px;
    background: url("images/icons.png") right bottom no-repeat;
}
.search-box input[type='button'] {
    width: 234px;
    height: 34px;
    margin-right: 0;
    background: #be4e48;
    color: #fff;
    font: 14px/34px '微软雅黑';
    border: none;
    outline: none;
}
.search-box ul li {
    height: 26px;
    background: #e3e3e4;
    padding-left: 33px;
    font: 12px/26px '微软雅黑';
    color: #323333;
}
.search-box ul li:hover {
    background: #be4e48 url("images/icons.png") -200px -112px no-repeat;
    color: #fff;
}
/* 第五栏 活动 activity */
.activity {
    height: 390px;
    background: #f7f7f7;
    padding-top: 100px;
    padding-bottom: 115px;
}
.activity ul {
    height: 390px;
    width: 988px;
    margin: 0 auto;
}
.activity ul li:first-of-type {
    margin-left: 0;
}
.activity-items {
    position: relative;
    width: 220px;
    height: 390px;
    float: left;
    margin-left: 36px;
}
.pic {
    height: 312px;
    width: 206px;
    padding: 12px 7px;
    border: 1px solid #f1f1f1;
    background: #fff;
}
.pic img {
    height: 312px;
    width: 206px;
}
.activity-items-title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 220px;
    text-align: center;
}
.activity-items h4 {
    font: 14px/26px '微软雅黑';
    color: #000;
}
.activity-items p {
    font-size: 12px;
    color: #818181;
}
.hot .activity-items-title {
    top: 0;
}
.hot .activity-items-title h4 {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 20px;
    padding-left: 12px;
}
.hot .pic {
    position: absolute;
    bottom: 0;
}
/* 第六栏 about*/
.about {
    height: 1087px;
}
.part_1,
.part_2 {
    height: 566px;
}
.part_3,
.part_4,
.part_5,
.part_5 .mask {
    height: 521px;
}
a.more {
    display: block;
    text-align: center;
}
/* 小三角 */
.triangle {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 28px;
    box-sizing: border-box;
    border-width: 14px 25px;
    border-style: solid;
}
.part_2 div.triangle {
    left: -50px;
    border-color: transparent #fff transparent transparent;
}
.part_4 div.triangle {
    right: -50px;
    border-color: transparent transparent transparent #fff;
    z-index: 2;
}
/* part_1 */
.part_1 {
    position: relative;
    width: 851px;

}
.part_1 div {
    position: absolute;
    width: 365px;
    color: #fff;
    top: 117px;
    left: 50%;
    margin-left: -182px;
    text-align: center;
}
.part_1 h3 {
    font: 50px/75px '微软雅黑';

}
.part_1 h2 {
    margin-top: -66px;
    margin-bottom: -30px;
    margin-left: -7px;
    font: 158px/242px '微软雅黑';
}
.part_1 p {
    font: 22px/44px '微软雅黑';
}
/* part_2 */
.part_2 {
    position: relative;
    box-sizing: border-box;
    width: 429px;
    padding: 154px 72px 100px;
}
.part_2 h4 {
    height: 45px;
    font: 21px/45px '黑体';
    color: #323333;
    text-align: center;
}
.part_2 h4 span {
    font-weight: bold;
    color: #e7504d;
}
.part_2 p {
    font: 12px/30px '宋体';
    color: #aaa;
    margin-top: 10px;
}
.part_2 > a.more {
    height: 31px;
    width: 103px;
    line-height: 31px;
    color: #e74f4d;
    border: 1px solid #e74f4d;
    outline: 1px solid #f2b8b9;
    margin: 42px auto 18px;
}
.part_2 ul {
    height: 26px;
    width: 98px;
    margin: 0 auto;
    padding-left: 25px;
}
.part_2 li {
    float: left;
    width: 10px;
    height: 10px;
    margin: 7px;
    border-radius: 50%;
    border: 1px solid #929292;
}
.part_2 li.select,
.part_2 li:hover {
    background: #929292;
}
/* part_3*/
.part_3,
.part_4 {
    width: 426px;
    box-sizing: border-box;
    font: 21px/32px '黑体';
    color: #fff;
    text-align: center;
    padding-top: 166px;
}
.part_3 {
    background: #e74f4d;
}
.part_3 span,
.part_4 span {
    display: block;
    height: 2px;
    width: 30px;
    margin: 20px auto;
}
.part_3 span {
    background: #fff;
}
.part_3 a.more,
.part_4 a.more {
    width: 167px;
    height: 41px;
    margin: 5px auto;
    border: 1px solid #fff;
    font: 21px/42px '黑体';
}
.part_3 a.more {
    color: #fff;
    outline: 1px solid #f7c5c4;
}
/* part_4*/
.part_4 {
    width: 426px;
    position: relative;
}
.part_4 p {
    color: #323333;
}
.part_4 span {
    background: #cacaca;
}
.part_4 a.more {
    color: #e74f4d;
    border: 1px solid #e74f4d;
    outline: 1px solid #f7c5c4;
}
/* part_5*/
.part_5 {
    width: 428px;
    position: relative;;
}
.part_5 .mask {
    width: 428px;
    background: rgba(4, 0, 0, 0.4);
}
/* 第七栏 join */
.join {
    height: 749px;
    border-bottom: 1px solid #afb1b4;
}
.join-title {
    height: 188px;
    padding-top: 112px;
}
.join-title h5 {
    font: 21px/32px '黑体';
    color: #323333;
    text-align: center;
}
.join-title span {
    display: block;
    height: 3px;
    width: 32px;
    margin: 8px auto;
    background: #ee8684;
}
.join-title p {
    font: 12px/18px '微软雅黑';
    color: #aaa;
    text-align: center;
}
.join-tips {
    width: 289px;
    height: 450px;
    padding-left: 138px;
    padding-right: 75px;
}
.join-tips div {
    position: relative;
}
.join-tips > div:nth-of-type(2) {
    margin-top: 30px;
    margin-bottom: 30px;
}
.join-tips h6 {
    font-size: 14px;
    color: #231815;
    opacity: 0.8;
}
.join-tips p {
    font: 12px/21px '宋体';
    color: #231815;
    margin-top: 20px;
    opacity: 0.6;
}
.join-tips a {
    float: right;
    display: block;
    height: 20px;
    width: 25px;
    font: 14px/20px '宋体';
    color: #231815;
    opacity: 0.6;
    padding-left: 17px;
    background: url("images/icons.png") -135px -79px no-repeat;
}
.join-table {
    width: 778px;
    height: 450px;
}
.join-table input,
.join-table textarea {
    font: 12px/40px '宋体';
    color: rgba(23, 18, 15, 0.8);
    background: #ededee;
    padding-left: 16px;
    border: none;
    outline: none;
    margin-bottom: 14px;
}
.join-table input {
    display: inline-block;
    width: 294px;
    height: 38px;
    margin-right: 18px;
}
#dream {
    width: 624px;
    height: 120px;
    resize: none;
}
.join-table input[type='submit'] {
    width: 642px;
    color: #323333;
    font: 14px/38px '黑体';
    text-align: center;
}
/*========================END   : content========================*/

/*========================START : footer========================*/

.contact_us {
    background: #32353e;
    height: 266px;
    padding-top: 91px;
}
.contact_us h5 {
    font: 21px/48px '黑体';
    color: #fff;
    text-align: center;
}
.contact_us p {
    font: 12px/18px '宋体';
    color: #fff;
    text-align: center;
}
.contact_us div {
    margin: 30px auto;
    width: 520px;
}
.contact_us input[type='text'] {
    float: left;
    box-sizing: border-box;
    height: 40px;
    width: 430px;
    padding-left: 10px;
    border: 1px solid #9d9ea2;
    outline: none;
    font: 14px/27px '微软雅黑';
    color: #aaa;
}
.contact_us input[type='button'] {
    float: left;
    height: 40px;
    width: 79px;
    background: #6f7278;
    outline: none;
    border: 1px solid #52555c;
    border-left: none;
}
.contact_us p i {
    display: block;
    float: left;
    margin: 0 14px;
    height: 25px;
}
.contact_us-icons {
    width: 218px;
    margin: 0 auto;
}
.contact_us p i.qq {
    width: 24px;
    background: url("images/icons.png") 0 -137px no-repeat;
}
.contact_us p i.weibo {
    width: 29px;
    background: url("images/icons.png") -24px -137px no-repeat;
}
.contact_us p i.twitter {
    width: 29px;
    background: url("images/icons.png") -53px -137px no-repeat;
}
.contact_us p i.net {
    width: 24px;
    background: url("images/icons.png") -82px -137px no-repeat;
}
.foot {
    height: 58px;
    background: #2f3039;
    font: 12px/22px '宋体';
    color: #fff;
}
.foot a {
    margin-top: 20px;
}
a.copyRight {
    margin-left: 100px;
}
a.backTop {
    margin-right: 40px;
}
/*========================END   : footer========================*/