

img#study{
	float:right;

}

h2 {
	font-size:1.25em;
}
blockquote{
	font-size:small;
	
}
div{	
	margin-left:auto;
	margin-right:auto;
	/* 居中就这么弄*/
}
label{
	color:white;
	font-size:0.8em;
	margin-top:40px;
	
}
div.books{
	width:800px;
	height:202px;
	border-style:solid;
	border-width:1px;
	padding:1px;
	margin-top:10px;	
}
div.image{
	width:200px;
	height:200px;
	float:left;
	margin-top:1px;
	margin-left:1px;
	margin-bottom:1px;
}
div table{
	margin-left:auto;
	margin-right:auto;
	font-size:0.8em;
	border-collapse:collapse;
}
div table th,td{
	border:thin solid black;	
}
.book {
    float:left;}	

	